<!DOCTYPE html>
<html>
  <head>
    <title>PictoPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/2d6988e41b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="w-screen mx-auto">
      <%= render "header" %>
    </header>
    <main class="container mx-auto mt-5 px-5 max-w-screen-xl">
      <% if notice %>
        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
